.test-container {
  border-radius: 5px;
  background-color: #fff;
  margin: 10px auto;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px 16px 10px;
  box-shadow:
    0px -6px rgba(0, 0, 0, 0.2) inset,
    0px 0px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.test-info {
  color: #3a3a3a;
  text-align: left;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
}

.test-title {
  font-weight: bold;
  font-size: 22px;
}

.test-fix {
  margin-top: 10px;
  color: #ff462b;
  font-style: italic;
}
